<p id="notice"><%= notice %></p>
<h1>Search your feelings</h1>

<%= render 'form', post: @post %>

<%= react_component("NewsfeedPost", posts: @posts.as_json(:include => { :user => {:include=> :department}}, :methods => [:thumb_path]), current_user: current_user) %>

<div class="row text-center">
	<div class="col-lg-12">
  	<ul class="pagination">
    	<li><p><%= will_paginate @posts, renderer: BootstrapPagination::Rails%></p></li>
    </ul>
	</div>
</div>