<p id="notice"><%= notice %></p>
<h1>runbabyrun</h1>

<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-6 col-md-offset-4">
    	<div class="card hovercard">
      	<div class="cardheader">
				</div>
			
			  	<div class="title">
						<strong>Post ID:</strong>
  					<%= @post.id%>
					</div>
					<div class="desc">
						<strong>Content:</strong>
  					<%= @post.content %>
					</div>
					

				<%= link_to 'Back', :back %>
			</div><!--hover-->
		</div><!--col-->
       </div><!--row-->
    	</div><!--cont -->
	




    
       
